<p id="notice"><%= notice %></p>

<h1>Cheers</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Goal</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cheers.each do |cheer| %>
      <tr>
        <td><%= cheer.user %></td>
        <td><%= cheer.goal %></td>
        <td><%= link_to 'Show', cheer %></td>
        <td><%= link_to 'Edit', edit_cheer_path(cheer) %></td>
        <td><%= link_to 'Destroy', cheer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cheer', new_cheer_path %>
