<ul>
  <li>name: <%= cat.name %></li>
  <li>sex: <%= cat.sex %></li>
  <li>color: <%= cat.color  %></li>
  <li>Birthday: <%= cat.birth_date %></li>
  <li>Description: <%= cat.description %></li>
</ul>
