<div class="bandname">
  <h2>
    Add a New Album For <%= link_to "#{@band.name}", band_url(@band) %>
  </h2>
</div>

<% if flash[:errors] %>
  <h3>flash[:errors]</h3>
<% end %>

<form class="" action="<%= albums_url %>" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <p>
    <label for="band_id">Name</label>
    <select class="" name="album[band_id]">
      <% @bands.each do |band| %>
        <option value="<%= band.id %>" <%="selected" if @band.id == band.id %>><%= band.name %></option>
      <% end %>
    </select>
  </p>
  <hr>
  <p>
    <label for="title">Title
      <input type="text" name="album[title]" value="">
    </label>
  </p>
  <hr>
  <p>
    <label for="year">Year
      <input type="number" name="album[year]" placeholder="2018" min="1900" max="2099" value="">
    </label>
  </p>
  <hr>
  <p>
    <label for="style">Style</label>
    <select name="album[style]">
      <option value="" selected>--Please select style for album--</option>
      <option value="live">LIVE</option>
      <option value="studio">STUDIO</option>
    </select>
  </p>
  <hr>
  <input type="submit" value="Add Album">
</form>
